html {
   background: url('images/vikingbackground.jpg') no-repeat center center fixed;
   background-size: cover;
  }   
main{
    background-image: url('images/vikingbackground.jpg');
    height: 100%;
    width: 100%;
    padding: 1%;
    margin: 30%;
    justify-content: space-evenly;
    font-family: Courier;
    text-align: center;
    background-color:black;
    margin-top: 15%;
    margin-left: 25%;
    opacity: .50;
}
     
  
  .hidden {
    display: none;
  }
  
      
  #journey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -64px;
  }
  
  #event {
    background-color: magenta;
  }
  
  #progress-area {
    float: left;
    position: relative;
    width: 400px;
    margin: 10px;
  }
  
  #ocean {
    width: 736px;
    image-rendering: pixelated;
    height: 10rem;
    margin-top: -3%;
    margin-left: -10px;
  }
  
  #ship {
    position: absolute;
    bottom: 30px;
    left: 0;
  }
  #endhome{
    position: absolute;
    top: 220px;
    left: 880px;
    image-rendering: pixelated;
  }
  #dragon{
    position: absolute;
    top: 435px;
    left: 965px;
    z-index: 1;
    -webkit-animation-name: mydragon;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    animation-name: mydragon;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
   
  }
  /*safari webkit makes dragon go back and forth in 20s */
  @-webkit-keyframes mydragon{
    from {left: 700px;}
    to {left:965px;}
  }
  @keyframes mydragon{
    from {left: 700px;}
    to {left:965px;}
  }
  #wrekt{
    z-index: 1;
    left:750px;
    top: 559px;
    position: absolute;
  }
 #wrekt:hover{
   /*start the shake animation and make the animation last for 0.5 seconds*/
   animation: shake 0.5s;
   /*when the animation is finished, start again*/
 }
 @keyframes shake{
   0%{transform:translate(1px, 1px)rotate(0deg);}
   10%{transform:translate(-1px, -2px)rotate(-1deg);}
   20% { transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(-1deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(-1deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(-1deg); }
 }
  
  
  #stats-area {
    width: 42%;
    height: 89%;
   /* border: 1px solid black;*/
    background-color:none;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
  }
  
  .stat-value {
    float: right;
  }
  
  #updates-area {
    background-color:none;
    width: 440px;
    margin: 10px;
    height: 108px;
    padding: 10px;
    font-size: 12px;
    overflow-y: scroll;
    left: 50px;
    /* margin-top: -137px;
    margin-left: 685px; */
   
  }
  
  
  .update-positive {
    color:limegreen;
   
  }
  
  .update-negative {
    color:darkred;
  
  }
  
  .update-neutral {
    color:black;
    
  }
  
  #shop {
   
    background-color:none;
    margin: -10px;
    padding: 0px;
    height: 17px;
    width: 278px;
    display: inline-block;
    border: none;
    
  }
  
  .product {
    float: left;
    margin: 5px;
    padding: 2px;
    /*border: 1px solid black;*/
    font-size: 10px;
  }
  
  #shop button {
    clear: both;
    float: left;
    margin: 5px;
  }
  
  #raid {
    float: left;
    background-color: white;
    margin: 1px;
    padding: 1px;
   /* height: 60px;
    width: 150px;*/
 
  }


#home {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }

.row {
  height: 7rem;
  /*border: 3px solid black;*/
  height: 9rem;
  width: 46rem;
  background-color: rgb(99, 125, 176);
  /*background-color:skyblue;*/
  /*background-image: url('images/ocean_background.png');*/
  /*background-image: url('images/vikingbackground.jpg');*/
  opacity: 1;

}


.middle-col {
    width: 91%;
    height: 77%;
    background-color:none;
    margin: auto;
    margin-top: 1rem;
   /* border: 1px solid black;*/
}

.bottom-row {
  display: flex;
  justify-content: center;
  /*border: 1px solid black;*/
  align-items: center;
}

.bottom-row div {
    width: 46%;
    height: 80%;
    border: 3px solid black;
    background-color: rgb(189, 196, 195);
    margin-top: 1%;
 
}

/*stat box*/
div.stat{
  border: none;
  font-size: 10px;
  width: 230px;
  float: right;
  

}

/*shop and raid box*/
div.shop{
  border: none;
  font-size: 10px;
}
div#prods{
  
  font-size: 10px;
 border:none;
}
#vship{
  position: absolute;
  bottom: 30px;
  left:0;
}
/* div#raid*/

div#stats-area{
  background-color: none;
  width: 32%;
  
}

.updated-area{
  display:flex;
  overflow:scroll;
  flex-direction: row;
  overflow-y: scroll;
  background-color: rgb(189, 196, 195);
}
h1{
  text-align: center;

}





/* CSS Button animation







/*