html {
   background: url('images/vikingbackground.jpg') no-repeat center center fixed;
   background-size: cover;
  }   
main{
    background-image: url('images/vikingbackground.jpg');
    height: 100%;
    width: 100%;
    padding: 1%;
    margin: 30%;
    justify-content: space-evenly;
    font-family: Courier;
    text-align: center;
    background-color:black;
    margin-top: 15%;
    margin-left: 25%;
}
     
  
  .hidden {
    display: none;
  }
  
      
  #journey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #event {
    background-color: magenta;
  }
  
  #progress-area {
    float: left;
    position: relative;
    width: 400px;
    margin: 10px;
  }
  
  #ocean {
    width: 100%;
    image-rendering: pixelated;
  }
  
  #ship {
    position: absolute;
    bottom: 30px;
    left: 0;
  }
  
  #stats-area {
    width: 42%;
    height: 89%;
    border: 1px solid black;
    background-color: blue;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
  }
  
  .stat-value {
    float: right;
  }
  
  #updates-area {
    background-color: white;
    width: 352px;
    margin: 10px;
    height: 108px;
    padding: 10px;
    font-size: 12px;
    overflow-y: scroll;
    /* margin-top: -137px;
    margin-left: 685px; */
   
  }
  
  
  .update-positive {
    color: #669966;
  }
  
  .update-negative {
    color: red;
  }
  
  .update-neutral {
    color: #90908F;
  }
  
  #shop {
    float: left;
    background-color:;
    margin: 10px;
    padding: 10px;
    height: 90px;
    width: 350px;
  }
  
  .product {
    float: left;
    margin: 5px;
    padding: 2px;
    border: 1px solid black;
    font-size: 12px;
  }
  
  #shop button {
    clear: both;
    float: left;
    margin: 5px;
  }
  
  #raid {
    float: left;
    background-color: white;
    margin: 10px;
    padding: 10px;
    height: 60px;
    width: 150px;
  }


#home {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }

.row {
    height: 7rem;
    border: 1px solid black;
    height:9rem;
    width: 45rem;
}


.middle-col {
    width: 91%;
    height: 77%;
    background-color: white;
    margin: auto;
    margin-top: 1rem;
    border: 1px solid black;
}

.bottom-row {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
}

.bottom-row div {
    width: 46%;
    height: 80%;
    border: 1px solid black;
    background-color: blue;
    margin-top: 1%;
 
}

/*stat box*/
div.stat{
    border: none;
    font-size: 10px;
}
/*shop and raid box*/
div.shop{
  border: none;
  font-size: 10px;
}
div#prods{
  border:none;
  font-size: 10px;
}